<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @article.expire_date %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<script type="text/javascript">
  console.log(getMinElementInSortedArray([4, 5, 6, 7, 8, 9, 2, 3]))
</script>